.login-container {
  height: 100vh;
  width: 100%;
  background-color: rgb(218, 218, 218);
  display: flex;
  align-items: center;
  justify-content: center;

  .main-container {
    height: 80vh;
    width: 80%;
    display: flex;
    box-shadow: 1px 1px 15px rgba(86, 86, 86, 0.699);
    border-radius: 10%;

    /* overflow: hidden; */
  }

  .left {
    position: relative;
    height: 100%;
    width: 50%;
    background-color: rgb(231, 231, 231);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    /* border-radius: 10%; */
    border-top-left-radius: 10%;
    border-bottom-left-radius: 10%;

    z-index: 1;

    h5 {
      font-weight: bold;
      font-size: x-large;
    }
    p {
      font-weight: 500;
    }

    img {
      width: 400px;
      z-index: 3;
    }

    .circle {
      height: 500px;
      width: 500px;
      border-radius: 50%;

      background-color: rgb(236, 236, 240);
      position: absolute;
      z-index: -2;
    }
  }

  .right {
    height: 100%;
    width: 50%;
    background-color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-top-right-radius: 10%;
    border-bottom-right-radius: 10%;

    /* border-radius: 10%; */

    .form-container {
      width: 60%;

      div {
        margin: 15px;
      }

      a {
        /* text-decoration: none; */
        color: black;
      }

      button {
        background-color: black;
        color: white;
      }
    }

    img {
      height: 45px;
    }

    .top {
      text-align: center;
    }
  }
}

@media screen and (max-width: 768px) {
  .main-container {
    flex-direction: column;
    height: fit-content;
    width: fit-content;

    .left {
      img {
        width: 200px;
      }

      .circle {
        display: none;
      }
    }
  }
}
