.navbar {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: rgb(59, 59, 59);
  max-height: 15vh;
  padding: 10px 15px;

  h3,
  p {
    color: rgb(224, 218, 218);
  }
  p {
    padding-top: 8px;
  }

  .right {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;

    button {
      color: rgb(224, 218, 218);
      background-color: rgb(59, 59, 59);

      padding: 5px 15px;
      border: 1px solid white;
      border-radius: 10%;
    }

    button:hover {
      background-color: white;
      color: black;
      transition: 0.1s ease-in;
    }
  }
}
